<div id="new-job-form"> <!-- form currently goes to sessions path -->
  <form>
    <%= form_for [@agency, @job] do |f| %>
    	<%#= select_tag 'category', (:category)%>
    	<%#= options_for_select([['Healthcare', 1], ['Misc', 2]]) %>
<!--       user rails helper methods for select -->
      <%= f.select :category, @categories %>
      <!--       user rails helper methods for input -->
    	<input type="hidden" name="agency_id" value="<%=params[:id]%>"> <!-- which is agency_id -->
      <p><%= f.text_field :heading, :placeholder => "Heading" %></p>
      <p><%= f.text_field :description, :placeholder => "Description"  %></p>
      <p><%= f.text_field :location, :placeholder => "Location"  %></p>
      <p><input type="text" id="datepicker" placeholder="date" name="date"></p>
      <p><%= f.submit %></p>
    <%end%>
  </form>
</div>

  <!--   pick better datepicker depending on final look of the page
    http://www.hongkiat.com/blog/useful-calendar-date-picker-scripts-for-web-developers/ -->
