<br>
EDIT Job Posting:
<div id="edit-job-form">

    <%= form_for [@agency, @job], :method => :put do |f| %>
      Category: <select name="category" id="category" >
        <%Category.all.each do |category|%>
          <option value="<%=category.id%>"><%=category.name%></option>
        <%end%>
      </select>
      <br>
      <input type="hidden" name="agency_id" value="<%=params[:id]%>">
      <p>Heading: <%= f.text_field :heading, :placeholder => "Heading" %></p><br>
      <p>Description: <%= f.text_area :description, :placeholder => "Description" %></p><br>
      <p>Location: <%= f.text_field :location, :placeholder => "Location"  %></p><br>
      <p>Date: <input type="text" id="datepicker" placeholder="date" name="date"></p><br>
      <p><%= f.submit %></p>
    <%end%>

</div>