
<h1><%= @job_title %></h1>

<div id="container">
  <%@users.each do |user|%>
    <div class="user-box" id="">
      <div class="user-heading">
        <%=user[:user_name]%>
      </div>
      <div class="user-information">
        <%= user[:first_name]%>
        <%= user[:last_name]%>
        <%= user[:email]%>
      </div>
    </div>
    <br><br>
  <%end%>
</div>