<!-- views/users/show.html.erb -->
<div class="container">
<table>
  <tr>
    <td>First Name</td>
    <td><%= @user.first_name%></td>
  </tr>
  <tr>
    <td>Last Name</td>
    <td><%= @user.last_name%></td>
  </tr>
  <tr>
    <td>Username</td>
    <td><%= @user.user_name%></td>
  </tr>
  <tr>
    <td>Phone Number</td>
    <td><%= @user.phone%></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= @user.email%></td>
  </tr>
</table>

<%if @jobs.length == 0%>
  <h3>No Job Requests</h3>
<%elsif @jobs.length == 1%>
  <h3>Your <%=@jobs.length%> Job Request</h3>
<%else%>
  <h3>Your <%=@jobs.length%> Job Requests</h3>
<%end%>
<div id="container">
  <%@jobs.each do |job|%>
      <div class="job-box" id="job-<%=job.id%>">
      <div class="job-heading"><%=job.heading%></div>
      <div class="job-desc">
		<p><%=job.description%></p>
      </div>

      <div class="job-footer">
        <%created = Interest.find_by_user_id_and_job_id(@user.id, job.id).created_at%>
        <p>Applied <%=((Time.now - created)/86400).round%> days ago |
          <button class ="guest_cancel-btn job-<%=job.id%> ">Cancel</button></p>
      </div>
    </div>
    <br><br>
  <%end%>

</div>

</div>
<!--
created = Interest.where('user_id = ? and job_id = ?', current_user.id,job.id).first.created_at
 -->
<!--
   <script>
   Job.init();
 </script>