<!-- views/users/show.html.erb -->
<div class="container">
<%= @user.first_name%>
<%= @user.last_name%>
| <%= @user.user_name%> |
Phone:<%= @user.phone%> |
 Email:<%= @user.email%>


<% if youth?(@user) %>

  <%if @jobs.length == 0%>
    <h3>No Job Requests</h3>
  <%elsif @jobs.length == 1%>
    <h3>Your <%=@jobs.length%> Job Request</h3>
  <%else%>
    <h3>Your <%=@jobs.length%> Job Requests</h3>
  <%end%>
  <div id="container">
    <%@jobs.each do |job|%>
        <div class="job-box" id="job-<%=job.id%>">
        <div class="job-heading"><%=job.heading%></div>
        <div class="job-desc">
  		<p><%=job.description%></p>
        </div>

      <div class="job-footer">
        <%created = Interest.find_by_user_id_and_job_id(@user.id, job.id).created_at%>
        <p>Applied <%=((Time.now - created)/86400).round%> days ago |
          <button class ="guest_cancel-btn job-<%=job.id%> ">Cancel</button></p>
      </div>
    </div>
    <br><br>
  <%end%>

<% end %>

</div>

</div>
<!--
created = Interest.where('user_id = ? and job_id = ?', current_user.id,job.id).first.created_at
 -->
<!--
   <script>
   Job.init();
 </script>
