<div id="container">
  <%@agency_jobs.each do |job|%>
    <div class="agency-job-box" id="job-#{job.id}">
      <div class="agency-job-heading">
        <%= link_to job.heading, url_for([@agency, job])%>
      </div>
      <div class="agency-job-desc">
        Program Start Date: <%= job.date %><br>
        Program Location: <%= job.location %><br>
        Program Description: <%= job.description %>
      </div>
      <div class="agency-job-footer">
        <%if job.users.length > 0%>
          <p class="interests"><%=job.users.length %> interested youth</p>
        <%end%>
        <%= link_to "EDIT", edit_agency_job_path(@agency, job) %>
        <%= link_to "DELETE", [@agency, job], method: :delete %>
      </div>
    </div>
    <br><br>
  <%end%>
</div>