
  <%@agency_jobs.each do |job|%>
    <div class="col-lg-5 col-md-5 col-sm-12 agency-job-box" id="job-#{job.id}">

        <h3><%= link_to job.heading, url_for([@agency, job])%></h3>


        <b>Program Start Date:</b> <%= job.date %><br>
        <b>Program Location:</b> <%= job.location %><br>
        <b>Program Description:</b> <%= job.description %>


        <%if job.users.length > 0%>
          <h3><%=job.users.length %> interested youth</h3>
        <%end%>
        <p>
        <button class="btn btn-facebook1 button_height"><%= link_to "EDIT", edit_agency_job_path(@agency, job) %></button>
        <button class="btn btn-facebook1 button_height"><%= link_to "DELETE", [@agency, job], method: :delete %></button>
        </p>

      </div>

  <%end%>
