
<div><a href="#" id="create-job-link" class ="btn">Post New Job</a></div>

<div id="new-job-form">
    <%= form_for [@agency, @job], :url => agency_jobs_path(@agency, @job) do |f| %>
       <%= f.collection_select(:category_id,    Category.all,        :id,         :name)%>
      <input type="hidden" name="job[agency_id]" value="<%=params[:id]%>">
      <p><%= f.text_field :heading, :placeholder => "Heading" %></p>
      <p><%= f.text_field :description, :placeholder => "Description"  %></p>
      <p><%= f.text_field :location, :placeholder => "Location"  %></p>
      <p><%= f.text_area :description, cols: 80, rows: 5, :placeholder => "Description"  %></p>
      <p><input type="text" id="datepicker" placeholder="date" name="date"></p>
      <p><%= f.submit %></p>
    <%end%>
</div>

<%= render 'job_display' %>

