<div id="container">
  <%@category.jobs.each do |job|%>
      <div class="col-md-12 job-box" id="job-<%=job.id%>">
      <div class="job-heading panel-heading"><h5><%=job.heading + " @ " + job.agency.name #create a views helper method %></h5></div>
      <div class="job-desc">
        <%= get_short_desc(job) %>
        <span class="long-desc">
          <%= get_long_desc(job) %><br>
          Location: <%= job.location %><br>
          Start Date: <%= job.date %>
        </span>
      </div>

      <div class="job-footer">
        <div class="more-btn">
    <button class ="more-btn btn btn-default">See More...</button>
        </div>
        <div class="getapp">
          <button class ="guest_interest-btn job-<%=job.id%> ">Get Application</button>
        </div>
      </div>

    </div>
  <%end%>

</div>
