<div id="container">
  <%@category.jobs.each do |job|%>
      <div class="col-md-12 job-box" id="job-<%=job.id%>">
      <div class="job-heading panel-heading"><h5><%=job.heading%></h5></div>
      <div class="job-desc">
        <%= get_short_desc(job) %>
        <span class="long-desc">
          <%= get_long_desc(job) %>
        </span>
      </div>

      <div class="job-footer">
        <div class="btn-group btn-block btn-group-lg">

        <button class =" more-btn btn-default btn ">See More...</button>
        <button class ="guest_interest-btn btn btn-default apply-btn job-<%=job.id%> ">Get Application</button>
        </div>
      </div>
      </div>
  <%end%>

</div>



  

