
<div id="container">
  <%@category.jobs.each do |job|%>
    <% hack = 'interest' %>
    <% if current_user.interested?(job) %>
      <div class="job-box interested" id="job-<%=job.id%>">
    <% else %>
      <div class="job-box" id="job-<%=job.id%>">
      <%= hack = 'noninterest' %>
    <% end  %>

      <div class="job-heading panel-heading"><%=job.heading + " @ " + job.agency.name %></div>
      <div class="job-desc">
        <%= get_short_desc(job) %>
        <span class="long-desc">
          <%= get_long_desc(job) %><br>
          Location: <%= job.location %><br>
          Start Date: <%= job.date %>
        </span>
      </div>

      <div class="job-footer">

          <div class="more-btn">
        <!--   <%= link_to "Read more...", "#" %> -->
          <button class ="more-btn btn btn-default">See More...</button>
          </div>
          <div class="getapp">
          <% if hack == 'interest' %>
            <button class =" btninterest-btn hidden job-<%=job.id%> ">Get Application</button>
            <button class ="notinterest-btn job-<%=job.id%> ">Change Your Mind</button>
          <% else %>
            <button class ="interest-btn job-<%=job.id%> ">Get Application</button>
            <button class ="notinterest-btn hidden job-<%=job.id%> ">Change Your Mind</button>
          <% end %>
          </div>
      </div>

    </div>
   <%end%>

</div>
