
<div id="container">
  <%@category.jobs.each do |job|%>
    <% if user_interested?(job,current_user) %>
      <div class="job-box interested" id="job-<%=job.id%>">
    <% else %>
      <div class="job-box" id="job-<%=job.id%>">
        <% hack = 'noninterest' %>
    <% end  %>
        <div class="job-heading panel-heading">
          <h5><%=job.heading%></h5>
        </div>
        <div class="job-desc">
          <%= get_short_desc(job) %>
          <span class="long-desc">
            <%= get_long_desc(job) %><br>
            Location: <%= job.location %><br>
            Start Date: <%= job.date %>
          </span>
        </div>
        <div class="job-footer btn-group btn-group-justified">
          <div class="btn-group more-btn">
            <button class ="more-btn btn btn-default">See More...</button>
          </div>

          <div class="getapp btn-group">
            <% if user_interested?(job,current_user) %>
              <button class ="btn job-<%=job.id%> btn-default apply-btn notinterest-btn ">Cancel Request</button>
            <% else %>
              <button class ="btn job-<%=job.id%> btn-default apply-btn ">Send Me Info</button>
            <% end %>
          </div>
        </div>
       </div>
     <%end%>
</div>


