
<div id="container">
	<%@categories.each do |category|%>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 <%=category.name%>">
			<a  href="/categories/<%=category.id%>">
				<%= image_tag(category.id.to_s + ".png", :alt => category.name ) %>
				<%=category.name%>
			</a>
			<p><%=category.jobs.length%> jobs</p>
		</div>
	<%end%>
</div>

