<div class="pull-left menu">
   <% if current_user %>
	  <a type="button" src =" "class="pull-left navbar-btn">	<%= image_tag("darkprofile.png", class: "img-responsiveness", alt: "p") %></a>
  <% else %>
	  <a type="button" src =" "class="pull-left navbar-btn">	<%= image_tag("redprofile.png", class: "img-responsiveness", alt: "p") %></a>  <% end %>
</div>

 <div class="navbar-brand">
    <%= link_to "Yobs", root_path %>
  </div> 
<div class = "pull-right sign_in">
  <% if current_user %>
		 <%= button_to "Log out", session_path, :class => "btn-signin pull-right btn-facebook btn navbar-btn", method: :delete %>
  <% else %>
			<%= button_to "Sign Up", sign_up_path, :class => "btn-signin pull-right btn-facebook btn navbar-btn", :method => :get %>
  <% end %>

</div>
 
