<!DOCTYPE html>
<html>
<head>
  <title>YOBS</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse"
          data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Y.OBS</a>
          <%= render partial: 'layouts/header' %>
          <div class="nav-collapse">
            <ul class="nav">
              <li>Link1</li>
              <li>Link2</li>
              <li>Link3</li>
              <li>Link4</li>
            </ul>
          </div>

          <nav>
            <p><%= session[:session_user] %></p>
          </nav>
    </div>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>
</body>
</html>
