<!DOCTYPE html>
<html>
<head>
  <title>YOBS</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'layouts/header' %>
<nav>
	<div id="user-widget">
	  <% if current_user %>
	    Welcome <strong><%= current_user.full_name %></strong>!
	    <%= link_to "Sign out", signout_path, id: "sign_out" %>
	  <% else %>
	    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
	  <% end %>
	</div>
<!--   <p><%#= session[:session_user] %></p> -->
</nav>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
