<!DOCTYPE html>
<html>
<head>
  <title>YOBS</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'layouts/header' %>
<nav>
  <p><%= session[:session_user] %></p>
</nav>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
